/* desktop */

.ProjectsPage {
    z-index: 2;
    margin: 0;
    padding: 0 0 3% 0;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    background: white;
    box-shadow: 0 1.5vh 1.5vh rgba(0, 0, 0, 0.12), 0 1vh 1vh rgba(0, 0, 0, 0.24);
    transition: all 0.25s cubic-bezier(.25, .8, .25, 1);
    border-top: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-left: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-right: 0.1vw solid rgba(0, 0, 0, 0.158);
}

.ProjectsPage>.ProjectsPageTitle {
    font-size: 2vw;
    padding: 1% 0 1% 0;
}

.ProjectsPage>.ProjectContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ProjectsPage>.ProjectContainer>.ProjectCard {
    margin: 1%;
    padding: 1.5% 0 1.5% 0;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.12), 0 0.5vh 0.5vh rgba(0, 0, 0, 0.24);
    transition: all 0.25s cubic-bezier(.25, .8, .25, 1);
    border-top: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-left: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-right: 0.1vw solid rgba(0, 0, 0, 0.158);
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.ProjectLogo {
    width: 30%;
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.ProjectLogo>img {
    padding-right: 5%;
    width: 90%;
    height: auto;
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.ProjectDescription {
    text-align: left;
    width: 45%;
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.ProjectDescription>h1 {
    font-size: 1.5vw;
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.ProjectDescription>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1vw;
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.ProjectDescription>ul>li {
    margin: 1%;
    padding: 2.5% 3% 2.5% 3%;
    border-radius: 10px;
    background: rgb(240, 240, 240);
}

.ProjectsPage>.ProjectContainer>.ProjectCard>.LinkCard {
    width: 25%;
}

/* tablet */

@media only screen and (max-width: 1000px) {
    .ProjectsPage>.ProjectContainer {
        flex-direction: column;
    }
    .ProjectsPage>.ProjectContainer>.ProjectCard {
        width: 95%;
    }
}

/* mobile */

@media only screen and (max-width: 650px) {}

/* mobile - small */

@media only screen and (max-width: 450px) {}