/* desktop */

.ProjectsPage {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    box-shadow: 0 1.5vh 1.5vh rgba(0, 0, 0, 0.12), 0 1vh 1vh rgba(0, 0, 0, 0.24);
    transition: all 0.25s cubic-bezier(.25, .8, .25, 1);
    border-top: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-left: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-right: 0.1vw solid rgba(0, 0, 0, 0.158);
}

.ProjectsPage>.title {
    margin: 50px;
    padding: 20px;
    width: 100%;
    font-family: robotoBold, sans-serif;
    font-size: 3vw;
}

.ProjectsPage>.projectContainer {
    margin: 0 0 7% 0;
    padding: 0;
    width: 85%;
    height: auto;
    min-height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.ProjectsPage>.projectContainer>.projectCard {
    height: auto;
    min-height: auto;
    margin: 0 3% 0 3%;
    padding: 0;
    flex: 0 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    vertical-align: bottom;
    transition: all 0.25s cubic-bezier(.25, .8, .25, 1);
    border-top: 0.15vw solid rgba(0, 0, 0, 0.158);
    border-left: 0.15vw solid rgba(0, 0, 0, 0.158);
    border-right: 0.15vw solid rgba(0, 0, 0, 0.158);
    background: white;
}

.ProjectsPage>.projectContainer>.projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.25), 0 2vh 2vh rgba(0, 0, 0, 0.22);
    background: rgb(248, 248, 248);
}

.ProjectsPage>.projectContainer>.projectCard>h1 {
    margin: 15px 0 0 0;
    font-family: robotoRegular, sans-serif;
    font-size: 1.7vw;
}

.ProjectsPage>.projectContainer>.projectCard>p {
    padding: 15px;
    text-align: left;
    font-family: robotoRegular, sans-serif;
    font-size: 1.2vw;
    line-height: 200%;
}

.ProjectsPage>.projectContainer>.projectCard>img {
    padding: 30px 0 15px 0;
    width: 90%;
    height: auto;
}

.ProjectsPage>.projectContainer>.projectCard>.projectTools {
    font-family: robotoRegular, sans-serif;
    font-size: 1.3vw;
    line-height: 200%;
}

.ProjectsPage>.projectContainer>.projectCard>.projectTools>button {
    margin: 1%;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 1000px;
    font-family: robotoRegular, sans-serif;
    font-size: 1.2vw;
    background: rgb(31, 102, 255);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}

.ProjectsPage>.projectContainer>.projectCard>.projectTools>button:hover {
    transition: 0.25s;
    background: rgb(0, 58, 182);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks {
    margin: 15px 0 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>a {
    text-align: left;
    font-family: robotoRegular, sans-serif;
    font-size: 1.3vw;
    color: white;
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>a>svg {
    float: right;
    fill: white;
    width: 1.5vw;
    height: 1.5vw;
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>a:nth-child(1) {
    padding: 20px;
    width: 100%;
    background: rgb(31, 102, 255);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>a:nth-child(1):hover {
    transition: 0.25s;
    background: rgb(0, 58, 182);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>a:nth-child(2) {
    padding: 20px;
    width: 100%;
    background: rgb(56, 56, 56);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>a:nth-child(2):hover {
    transition: 0.25s;
    background: rgb(26, 26, 26);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.unavailable:nth-child(1) {
    background: rgb(207, 8, 8);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.unavailable:nth-child(1):hover {
    transition: 0.25s;
    background: rgb(124, 4, 4);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.unavailable:nth-child(2) {
    background: rgb(207, 8, 8);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.unavailable:nth-child(2):hover {
    transition: 0.25s;
    background: rgb(124, 4, 4);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.here:nth-child(1) {
    background: rgb(0, 153, 20);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.here:nth-child(1):hover {
    transition: 0.25s;
    background: rgb(0, 95, 13);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.here:nth-child(2) {
    background: rgb(0, 153, 20);
}

.ProjectsPage>.projectContainer>.projectCard>.projectLinks>.here:nth-child(2):hover {
    transition: 0.25s;
    background: rgb(0, 95, 13);
}

/* tablet */

@media only screen and (max-width: 1000px) {
    .ProjectsPage>.title {
        font-size: 4.5vw;
    }
    .ProjectsPage>.projectContainer>.projectCard {
        margin: 0 0 10% 0;
        padding: 0;
        flex: 0 90%;
    }
    .ProjectsPage>.projectContainer>.projectCard>h1 {
        margin: 15px 0 0 0;
        font-size: 2.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>p {
        font-size: 1.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectTools {
        font-size: 1.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectTools>button {
        font-size: 1.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectLinks>a {
        font-size: 2vw;
        color: white;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectLinks>a>svg {
        float: right;
        fill: white;
        width: 2.5vw;
        height: 2.5vw;
    }
}

/* mobile */

@media only screen and (max-width: 650px) {
    .ProjectsPage>.title {
        font-size: 6.5vw;
    }
    .ProjectsPage>.projectContainer>.projectCard {
        margin: 0 0 10% 0;
        padding: 0;
        flex: 0 90%;
    }
    .ProjectsPage>.projectContainer>.projectCard>h1 {
        margin: 15px 0 0 0;
        font-size: 4.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>p {
        font-size: 2.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectTools {
        font-size: 2.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectTools>button {
        font-size: 2.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectLinks>a {
        font-size: 3.5vw;
        color: white;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectLinks>a>svg {
        float: right;
        fill: white;
        width: 4.5vw;
        height: 4.5vw;
    }
}


/* mobile - small */

@media only screen and (max-width: 450px) {
    .ProjectsPage>.title {
        font-size: 7.5vw;
    }
    .ProjectsPage>.projectContainer>.projectCard {
        margin: 0 0 10% 0;
        padding: 0;
        flex: 0 90%;
    }
    .ProjectsPage>.projectContainer>.projectCard>h1 {
        margin: 15px 0 0 0;
        font-size: 5.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>p {
        font-size: 3.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectTools {
        font-size: 3.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectTools>button {
        font-size: 3.7vw;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectLinks>a {
        font-size: 4.5vw;
        color: white;
    }
    .ProjectsPage>.projectContainer>.projectCard>.projectLinks>a>svg {
        float: right;
        fill: white;
        width: 5.5vw;
        height: 5.5vw;
    }
}