/* desktop */

.SkillsPage {
    z-index: 2;
    margin: 0;
    padding: 0 0 3% 0;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    background: white;
    box-shadow: 0 1.5vh 1.5vh rgba(0, 0, 0, 0.12), 0 1vh 1vh rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-top: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-left: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-right: 0.1vw solid rgba(0, 0, 0, 0.158);
}

.SkillsPage>.SkillsPageTitle {
    font-size: 2vw;
    padding: 1% 0 1% 0;
}

.SkillsPage>.SkillsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillsPage>.SkillsContainer>.SkillsCategory {
    margin: 1%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.12), 0 0.5vh 0.5vh rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-top: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-left: 0.1vw solid rgba(0, 0, 0, 0.158);
    border-right: 0.1vw solid rgba(0, 0, 0, 0.158);
}

.SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsCategoryTitle {
    font-size: 1.1vw;
    margin: 0 0 10% 0;
}

.SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList {
    display: flex;
    justify-content: safe;
}

.SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul {
    list-style: none;
    text-align: left;
}

.SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li {
    font-size: 1vw;
    display: flex;
    vertical-align: middle;
    margin: 0 0 5% 0;
}

.SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li>svg {
    width: 2vw;
    height: 2vw;
}

/* tablet */

@media only screen and (max-width: 1200px) {
    .SkillsPage>.SkillsContainer>.SkillsCategory {
        padding: 2%;
    }
    .SkillsPage>.SkillsPageTitle {
        font-size: 3vw;
        padding: 2% 0 2% 0;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory {
        margin-bottom: 2%;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsCategoryTitle {
        font-size: 1.7vw;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li {
        font-size: 1.5vw;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li>svg {
        width: 2.5vw;
        height: 2.5vw;
    }
}

/*mobile*/

@media only screen and (max-width: 650px) {
    .SkillsPage>.SkillsPageTitle {
        font-size: 5vw;
        padding: 3% 0 3% 0;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory {
        margin-bottom: 5%;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsCategoryTitle {
        font-size: 3.5vw;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li {
        font-size: 3.3vw;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li>svg {
        width: 5.5vw;
        height: 5.5vw;
    }
}

/*mobile - small*/

@media only screen and (max-width: 450px) {
    .SkillsPage>.SkillsPageTitle {
        font-size: 6vw;
        padding: 4% 0 4% 0;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory {
        margin-bottom: 7%;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsCategoryTitle {
        font-size: 4.5vw;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li {
        font-size: 4.3vw;
    }
    .SkillsPage>.SkillsContainer>.SkillsCategory>.SkillsList>ul>li>svg {
        width: 5.5vw;
        height: 5.5vw;
    }
}