.NavigationBar {
    z-index: 9001;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 10%;
    position: fixed;
    transition: 0.2s;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.NavigationBar>.navigationBar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 10vh;
}

.NavigationBar>.navigationBar>.mainLogo {
    float: left;
}

.NavigationBar>.navigationBar>.mainLogo>h1 {
    margin: 2vh 0 0 3vh;
    padding: 0;
}

.NavigationBar>.navigationBar>.mainLogo>h1>a {
    font-family: robotoBold, sans-serif;
    font-size: 2.3vw;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.164);
}

.NavigationBar>.navigationBar>.mainLogo>h1>a>#blinkingCursor {
    animation: blinkingCursor 0.75s infinite;
}

.NavigationBar>.navigationBar>.navigationLinks {
    float: right;
}

.NavigationBar>.navigationBar>.navigationLinks>nav {
    margin: 3.5vh 0 0 0;
}

.NavigationBar>.navigationBar>.navigationLinks>nav>.sideNavButton {
    z-index: 9999;
    display: none;
}

.NavigationBar>.navigationBar>.navigationLinks>nav>a {
    margin: 0 9vh 0 0;
    font-family: robotoRegular, sans-serif;
    font-size: 1.4vw;
    color: rgb(0, 0, 0);
}

.NavigationBar>.navigationBar>.navigationLinks>nav>a:hover {
    text-decoration: underline;
    transition: 0.2s;
    color: rgb(31, 102, 255);
}

.NavigationBar>.sideBar {
    z-index: 9999;
    top: 0;
    left: 0;
    padding-top: 60px;
    width: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    text-align: left;
    background-color: white;
    box-shadow: 2vh 2vh 3vh rgba(0, 0, 0, 0.349);
    transition: 0.2s;
}

.NavigationBar>.sideBar>.sideLink {
    margin: 5% 0;
    padding: 10px;
    width: 100%;
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: robotoRegular, sans-serif;
    font-size: 2.5vw;
    color: black;
}

.NavigationBar>.sideBar>button {
    cursor: pointer;
    text-align: left;
    background: white;
    color: black;
}

.NavigationBar>.sideBar>.sideLink:hover {
    transition: 0.2s;
    background: rgb(189, 189, 189);
}

.NavigationBar>.overlayShadow {
    z-index: 9000;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    min-height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.637);
}

/* tablet */

@media only screen and (max-width: 1200px) {
    .NavigationBar>.navigationBar {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 7vh;
        min-height: 7vh;
    }
    .NavigationBar>.navigationBar>.mainLogo>h1>a {
        font-size: 3.5vw;
    }
    .NavigationBar>.navigationBar>.navigationLinks>nav>a {
        display: none;
    }
    .NavigationBar>.navigationBar>.navigationLinks>nav>.sideNavButton {
        margin: 0 5vh 0 0;
        display: block;
        cursor: pointer;
        background: none;
    }
    .NavigationBar>.navigationBar>.navigationLinks>nav>.sideNavButton>i>svg {
        width: 3.5vw;
        height: 3.5vw;
        margin-top: -7vh;
    }
    .NavigationBar>.sideBar>.sideLink {
        font-size: 2.5vw;
    }
}

/* mobile */

@media only screen and (max-width: 650px) {
    .NavigationBar>.navigationBar>.mainLogo>h1>a {
        font-size: 6vw;
    }
    .NavigationBar>.sideBar>.sideLink {
        font-size: 4vw;
    }
    .NavigationBar>.navigationBar>.navigationLinks>nav>.sideNavButton>i>svg {
        width: 5.5vw;
        height: 5.5vw;
        margin-top: -10vh;
    }
}

/* mobile - small */

@media only screen and (max-width: 450px) {
    .NavigationBar>.navigationBar>.mainLogo>h1>a {
        font-size: 6vw;
    }
    .NavigationBar>.sideBar>.sideLink {
        font-size: 5vw;
    }
    .NavigationBar>.navigationBar>.navigationLinks>nav>.sideNavButton>i>svg {
        width: 6.5vw;
        height: 6.5vw;
        margin-top: -10vh;
    }
}